<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>School Add</title>
</head>
<body>

<h1>School Add</h1>

<form method="post">{% csrf_token %}
    School Name:<input type="text" name="name" id="name">
    School Code:<input type="number" name="code" id="code">
    City:
    <select name="city" required id="city">
        <option value selected>-----</option>
        {% for city in city_list %}
            <option value="{{ city.id }}">{{ city.name }}</option>
        {% endfor %}
    </select>
    District:
    <select name="district" required id="district">
        <option value selected>-----</option>
        {% for district in district_list %}
            <option value="{{ district.id }}">{{ district.name }}</option>
        {% endfor %}
    </select>
    Address Detail:<input type="text" name="address_detail" id="address_detail">
    Is active:<input type="checkbox" name="is_active" id="is_active" checked>
    <input type="submit" value="Save">
</form>


</body>
</html>