<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Select Attendance</title>
</head>
<body>

<h1>Select Attendance</h1>
aa{{ bus_list }}
<form method="post" action="{% url 'test-attendance' %}">{% csrf_token %}

    <select name="bus" required id="bus">
        <option value selected>-----</option>
        {% for bus in bus_list %}
            <option value="{{ bus.id }}">{{ bus.bus_number }}</option>
        {% endfor %}
    </select>

    <label for="date">Date:</label>
    <input type="date" id="date" name="date"><br>
    Direction:
    <input type="radio" id="html" name="direction" value="1">
    <label for="html">Coming</label>
    <input type="radio" id="css" name="direction" value="2">
    <label for="css">Leaving</label><br>

    <input type="submit" value="Save">
</form>


</body>
</html>