<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Village Add</title>
</head>
<body>

<h1>Village Add</h1>
<form method="post">{% csrf_token %}
    Schools:
    <select name="school" required id="school">
        <option value selected>---------</option>
        {% for school in all_school %}
            <option value="{{ school.id }}">{{ school }}</option>
        {% endfor %}
    </select>
    Village name:<input type="text" name="village_name" id="village_name">
    <input type="submit" value="Save">
</form>

</body>
</html>