<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Village List</title>
</head>
<body>

<h1>Village List</h1>
<p><a href="{% url 'dailycheck:village-add' %}">Add new village</a></p>

{% if village_list %}
    <ul>
    {% for village in village_list %}
        <li>
            <a href="{% url 'dailycheck:village-change' village.id %}">Edit</a>
            <a href="{% url 'dailycheck:village-detail' village.id %}">Delete</a>
            <a href="{% url 'dailycheck:village-detail' village.id %}">{{ village.name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No village are available.</p>
{% endif %}

</body>
</html>